body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  max-width: 400px;
}


#navbarNav li{
  margin:10px;
}

h1 {
  color: #333;
  font-size: 32px;
}

h3 {
  color: #555;
  font-size: 20px;
}

h6 {
  color: #888;
  font-size: 16px;
}



.button {
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #ff5252;
}

svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}



/**
Pas la partie a will
*/

nav {
  background-color: pink;
  padding-left: 20px;
}

.navbar-nav {
  display:flex !important;
  flex-direction: row !important;
 }

a .navlink{
  padding: 10px !important;
}


.navbar a {  
  font-size: 13px;
  padding: 10px;
  text-decoration: none;
}

a {color:black !important;}

.center{
  display:flex;
flex-direction: row;
align-items: center;
margin-top: 20px;}

.margin-right{
margin-right:20px
}

